@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  min-height: 220px;  
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin-bottom: 10px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::after {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.play-item::before {
  content: '';
  width: 20px;
  height: 20px;
  padding: 5px 15px 5px 15px;
  background-size: 25px 25px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("../assets/svg/006-play-button.png");
  position: relative;
  text-align: center;

}

.play-active::after {
  background-image: url("../assets/svg/005-pause-button.png");
}


.item-active::after {
  color: #C5B358;
}
.play-list-wrapp {
  display: flex;
}
.player-icon,
.slider-icon,
.change-quote,
.play-btn {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.audio-time {
  display: flex;
  justify-content: center;
  gap: 3px;
}
.seer-bar {
  width: 200px;
  cursor: pointer;
}
.timeline-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}
.volume-bar {
  width: 100px;
  cursor: pointer;
}
.volume-container {
  width: 200px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.volume-up {

  background-image: url("../assets/svg/003-volume-up-1.png");
}
.volume-down {
  background-image: url("../assets/svg/001-volume-down.png");
}

.play {

  background-image: url("../assets/svg/006-play-button.png");
}

.pause {
  background-image: url("../assets/svg/005-pause-button.png");
}

.play-prev {
  background-image: url("../assets/svg/003-back-button.png");
}

.play-next {
  background-image: url("../assets/svg/004-next-button.png");
}
.mute {
  background-image: url("../assets/svg/007-mute.png");
}
.volume {
  background-image: url("../assets/svg/002-volume-up.png");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

.play-active::before {
  background-image: url("../assets/svg/005-pause-button.png");
}
.btn-action img {
  pointer-events: none;
}

.todo-container {
  max-width: 450px;
}
.todo-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.todo-subtitle {
  margin-bottom: 5px;
}
.d-flex {
  display: flex;
  justify-content: space-between;
}
.task-title {
  font-weight: 400;
  padding-top: 5px;
}
.gray {
  color: #BDBDBD;
}
.task-title--done {
  text-decoration: line-through;
  color: #CDCDCD;
}
.task-item__buttons {
  display: flex;
  column-gap: 5px;
}
.notify-holder {
  height: 60px;
  margin-bottom: 20px;
}
.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.empty-list__title {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 300;
}

.list-group-item {
margin-bottom: 3px;
}
.empty-list__icon {
  color: #42BE2A;
  font-size: 32px;
}
.btn-action {
    background-color: #e0e5ea;
    padding: 3px 4px;
    cursor: pointer;
    border: #2c0684 solid 2px;
    border-radius: 4px;
    transition: opacity 0.2s ease-in;
    opacity: 0.5;

    display: flex;
    justify-content: center;
    align-items: center;
}
.task-item__buttons {
  margin-left: 15px;
}
.btn-action:hover {
    background-color: #e0e5ea;
    opacity: 1;
}

.btn-action img {
  pointer-events: none;
}

.card-header {
font-size: 13px;
margin-bottom: 5px;
}

.btn-primary {
  padding: 4px;
  border: #2c0684 solid 2px;
  border-radius: 8px;
  background:  #e0e5ea;
}
.form-control {
  margin-bottom: 10px;
}
.none {
  display: none !important;
}

.float-right {
  float: right;
}
.copyright {
  margin-top: 40px;
  font-size: 14px;
  color: gray;
  text-align: center;
  margin-bottom: 30px;
  /* position: absolute; */
  /* bottom: 30px; */
  /* left: 0; */
  /* right: 0; */
}
